# Imports and Installations

* Installations

In [4]:
!pip install sqlalchemy PyMySQL --quiet

In [6]:
#restart the kernel after installation
!pip install pandas-profiling --quiet

* Imports

In [7]:
from sqlalchemy import create_engine
from getpass import getpass

# Conexión a DB y wirtting SQL queries

* Input de la DB password

In [9]:
password = getpass()

··········

* Creo DB engine (paso DB connection string)

In [10]:
# dbType+connector://DBUserName:password@ipHostname:puerto/dbName. Password lo passo con format String
engine = create_engine('mysql+pymysql://root:{}@localhost:3306/ClassicModels'.format(password))

* Connect DB and Querying

In [ ]:
with engine.connect() as conn:
    result = conn.execute('SELECT officeCode, city, phone FROM offices;')

In [ ]:
# result is a class from SqlAlchemy
result

In [ ]:
# lo transformo a lista para verlo chimbita
offices = list(result)
offices

# Working with queried data

In [ ]:
pd.DataFrame(offices, columns=['officeCode', 'city', 'phoneNumber'])